<style>
.h1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: #0F172A;
    color: white;
    font-size: 24px;
    padding-top: 25px;
    font-size: 300%;
    margin-top: 160%;
    margin-left: 70%;
}
</style>
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>

<body>
<form action="/home" method="GET">
  <h1 class="notes">Welcome to notes app :</h1>

  <button type="submit" class="h1">+</button>
</form>
</body>

</html>
